trigger:
- main

pool:
  vmImage: ubuntu-latest

stages:
- stage: Build
  jobs:
  - job: BuildJob
    steps:
    # Preparar análisis de SonarCloud
    - task: SonarCloudPrepare@1
      inputs:
        SonarCloud: 'SonarCloud'  # Nombre de la conexión de servicio en Azure DevOps
        organization: 'ShaReyes'  # Organización en SonarCloud
        scannerMode: 'CLI'
        configMode: 'manual'
        projectKey: '6cdfce0b430470bae8915745d17928e49d8e31f8'  # Clave del proyecto en SonarCloud
        projectName: 'SharoPipelines'  # Nombre del proyecto en SonarCloud
        projectVersion: '1.0'  # Versión del proyecto (puedes ajustar este valor)
        extraProperties: |
          sonar.java.binaries=**/target/classes
          sonar.coverage.jacoco.xmlReportPaths=$(System.DefaultWorkingDirectory)/**/site/jacoco/jacoco.xml

    # Construir el proyecto con Maven
    - task: Maven@4
      inputs:
        mavenPomFile: 'pom.xml'
        mavenOptions: '-Xmx3072m'
        javaHomeOption: 'JDKVersion'
        jdkVersionOption: '1.8'
        jdkArchitectureOption: 'x64'
        publishJUnitResults: true
        testResultsFiles: '**/surefire-reports/TEST-*.xml'
        goals: 'package'

    # Ejecutar análisis de SonarCloud
    - task: SonarCloudAnalyze@1

    # Publicar resultados de SonarCloud
    - task: SonarCloudPublish@1
      inputs:
        pollingTimeoutSec: '300'

- stage: Deploy
  dependsOn: Build
  jobs:
  - job: DeployJob
    steps:
    - task: PublishBuildArtifacts@1
      inputs:
        pathtoPublish: '$(Build.ArtifactStagingDirectory)'
        artifactName: 'drop'
        
- stage: Test
  dependsOn: Build
  jobs:
  - job: TestJob
    steps:
    - script: mvn test
    - task: PublishCodeCoverageResults@2
      inputs:
        codeCoverageTool: "JaCoCo"
        summaryFileLocation: "$(System.DefaultWorkingDirectory)/**/site/jacoco/jacoco.xml"
        reportDirectory: "$(System.DefaultWorkingDirectory)/**/site/jacoco"
        failIfCoverageEmpty: true
